<div class="col-sm-4">
    <div class="boards">
        <div
                ng-repeat="board in ctrl.boards"
                ng-click="ctrl.setEditedBoard(boardId, board)"
                class="simple-board">
            <h3>{{board.title}}</h3>
            <p>{{board.description}}</p>
            <input type="checkbox" ng-model="model.isPublic">
        </div>
    </div>
</div>
<div class="col-sm-8">
    <!-- CREATING -->
    <div ng-if="!ctrl.isEditing" class="col-xs-12 board-details">
        <h3>Create a New Board</h3>
        <hr/>
        <form
                name="ctrl.createForm"
                class="create-form"
                role="form"
                novalidate
                ng-submit="ctrl.createBoard(ctrl.newBoard, ctrl.createForm)"
        >
            <input type="text" ng-model="ctrl.newBoard.title" required>
            <input type="text" ng-model="ctrl.newBoard.description">
            <input type="checkbox" ng-model="ctrl.newBoard.isPublic">
            <button type="submit">Create</button>
        </form>
    </div>
    <!-- EDITING -->
    <div ng-if="ctrl.isEditing" class="col-xs-12 board-details">
        <h3>Editing {{ ctrl.editedBoard.title }}</h3>
        <hr/>
        <form
                name="ctrl.updateForm"
                class="edit-form"
                role="form"
                novalidate
                ng-submit="ctrl.updateBoard(ctrl.editedBoardId, ctrl.editedBoard, ctrl.updateForm)"
        >
            <input type="text" ng-model="ctrl.editedBoard.title" required>
            <input type="text" ng-model="ctrl.editedBoard.description">
            <input type="checkbox" ng-model="ctrl.editedBoard.isPublic">
            <button type="button" ng-click="ctrl.cancelEditing()">Cancel editing</button>
            <button type="submit">Update</button>
        </form>
    </div>
</div>